<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>todos</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" media="screen" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/backbone.localStorage.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            <input id="new-todo" placeholder="What needs to be done?" autofocus>
        </header>
        <section id="main">
            <input id="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list"></ul>
        </section>
        <footer id="footer"></footer>
    </section>
    <div id="info">
        <p>Double-click to edit a todo</p>
    </div>
</body>
</html>