<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>todos</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" media="screen" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/backbone.localStorage.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
</body>
</html>